.main{
    background-color: aqua;
    height: 500px;
    margin-bottom: 120px;
}
.as{
    text-align: center;
}
.qw{
    margin-left: 900px;
    display: flex;

}
.gg{
    margin-top: 15px;
}
.pl{
    margin-top: 30px;
    display: flex;
}
.al{
    margin-top: 10px;
}
.lo{
    margin-top: 10px;
}
.wer{
    margin-top: 10px;
    display: flex;
}
.awais{
    margin-top: 20px;
    display: flex;
}
.mno{
    display: flex;
    margin-top: 20px;
}
.gg{
    text-align: center;
}